.fields {
  display: flex;
  flex-wrap: wrap;
  max-width: calc(450px + 15px);
  gap: 5px;
}

.field {
  display: block;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background: inherit;
  border-radius: 5px;
  border-color: burlywood;
}
